# Python specific ignores
__pycache__/
*.pyc
*.pyo

# Virtual Environments, if used
.venv/
venv/

# Environment Variable we use for storage of API key and secrets
.env

# Local VS Code and IDE settings 
.vscode/
.idea/